<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/msw/lib/iife/index.js"
      defer
    ></script>
    <script src="/src/index.mjs" type="module" defer></script>
    <script src="/src/apis/registerApi.js" defer></script>
    <link rel="stylesheet" href="/public/styles/register.css" />
  </head>
  <body>
    <h1>회원가입 페이지</h1>
    <div class="input-container">
      <input
        type="text"
        id="name"
        value=""
        placeholder="이름을 입력해 주세요."
      />
      <input type="text" id="uid" value="" placeholder="아이디 입력" />
      <input
        type="password"
        id="password"
        value=""
        placeholder="비밀번호 입력"
      />
      <input
        type="password"
        id="check-password"
        value=""
        placeholder="비밀번호 다시 입력"
      />
    </div>
    <button id="registerSubmit" onclick="registerHandler()">회원가입</button>
    <button><a href="/public/views/login.html">로그인 페이지로 이동</a></button>
  </body>
</html>
